.container {
    display: flex;
    flex-direction: column;
    width: 800px; 
    height: 800px;
    border: solid red 1px;
}

.row {
    display: flex;
}
.box {
    outline: solid red 1px; /*Use outline instead of border to stop thickness affect size of div*/
}